<header class="top">
    <h1 id="colored-title">
        <img src="./assets/mario-logo.png" alt="" srcset="">Petition: {{> title}}</h1>

    <nav class="flex-nav">
        <ul>
            {{#if user}}
            <li>
                <form action="/logout" method="POST">
                    <input type="submit" value="Logout" id="logout" />
                </form>
            </li>
            {{else}}
            <li>
                <form action="/login" method="GET">
                    <input type="submit" value="Login" id="login" />
                </form>
            </li>
            <li>
                <form action="/register" method="GET">
                    <input type="submit" value="Register" id="register" />
                </form>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>