<span id="first" class="color">A</span>
<span class="color">n</span>
<span class="color">o</span>
<span class="color">t</span>
<span class="color">h</span>
<span class="color">e</span>
<span class="color">r</span>
<span class="space">&#8203;&#8203;&#8203;</span>
<span class="color">P</span>
<span class="color">r</span>
<span class="color">i</span>
<span class="color">n</span>
<span class="color">c</span>
<span class="color">e</span>
<span class="color">s</span>
<span class="color">s </span>