<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bungee|VT323|Varela+Round|Bowlby+One+SC" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <script defer src="/js/fontawesome-all.js"></script>
    <title>Petition</title>
</head>

<html>
<div class="outer-wrapper">
    {{> header}} {{#if info}}
    <div class="message">{{ info }}</div>
    {{/if}} {{#if error}}
    <div class="message">{{ error }}</div>
    {{/if}} {{{body}}} {{> footer}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/nav.js"></script> {{#each scripts}}
<script src="{{script}}"></script> {{/each}}

</body>

</html>