<body>
    <div class="container">
        <div id="petition">
            <p>Mario has been rescuing Princess Peach since more than 30 years. He got friendzoned many times and that didn't
                stop him from rescuing her again.</p>
            <p>In their latest adventure, Mario Odyssey, he even flew to the moon where Bowser tried to force Peach into a marriage.
                After a long battle and a dramatic escape, Mario saved her. While he was waiting for a "Thank you!", she
                walked away and stole his spaceship, leaving the poor Italian plumber on the moon.</p>
            <p>Sign this petition to make "Another princess in our castle" real!</p>
        </div>
    </div>