<body>
    <div id="container">
        <div>Thanks for signing, {{user.first}}!</div>
        <div>
            <img src="{{img}}">
        </div>
        <div>
            <a href="/signers">See all {{number}} signers</a>
        </div>
    </div>