<body>
    <div id="container">
        <div id="register">
            <form id="register-form" method="POST">
                <div>
                    <label for="first">First name</label>
                    <input type="text" name="first" id="first">
                    <label for="last">Last name</label>
                    <input type="text" name="last" id="last">
                </div>
                <div>
                    <label for="email">Email address</label>
                    <input type="text" name="email" id="email">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <button id="submit" type="submit" value="Register">Register</button>
                </div>
            </form>
        </div>
    </div>