<body>
    <div class="container">
        <div id="signers">
            <ul>
                {{#each results}}
                <li>{{this.first}} {{this.last}} {{#if this.age}}({{this.age}}{{#if this.city}}, {{this.city}}{{/if}}){{/if}}</li>
                {{/each}}
            </ul>
        </div>
    </div>