<body>
    <div id="container">
        <div id="signature">
            <form action="" method="post">
                <div>
                    <input type="text" id="firstname" label="First name">
                    <input type="text" name="" id="lastname">
                </div>
                <canvas style="width:400px;height:200px;background-color:grey" width="400" height="200" id="canvas"></canvas>
                <div>
                    <button type="submit">Sign!</button>
                </div>
            </form>
        </div>
    </div>