<body>
    <div class="container">
        <div id="signers">
            <ul>
                {{#each results}}
                <li>{{this.first}} {{this.last}}</li>
                {{/each}}
            </ul>
        </div>
    </div>