<body>
    <div id="container">
        <div id="signature">
            <form id="signature-form" method="POST">
                <div>
                    <input type="text" id="first" name="first">
                    <input type="text" name="last" id="lastname">

                </div>
                <canvas style="width:400px;height:200px;background-color:grey" width="400" height="200" id="canvas"></canvas>
                <div>
                    <button id="submit" type="submit">Sign!</button>
                </div>
            </form>
        </div>
    </div>