<body>
    <div class="container">
        <form class="form" id="info-form" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <p>
                <label for="age">Age</label>
                <input type="number" name="age" value={{age}}>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" value={{city}}>
            </p>
            <p>
                <label for="homepage">Homepage</label>
                <input type="url" name="url" value={{url}}>
            </p>
            <div>
                <input id="submit" type="submit" value="Continue">
            </div>
        </form>
    </div>