<body>
    <div class="container">
        <div id="signature">
            <div id="princess-peach">
                <img src="/assets/peach.png" alt="peach">
            </div>
            <form class="form" id="signature-form" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="hidden" name="hiddensig" id="hiddensig">
                <canvas style="width:400px;height:200px;background-color:grey" width="400" height="200" id="canvas"></canvas>
                <div>
                    <input id="submit" type="submit" value="Sign">
                </div>
        </div>
        </form>
    </div>
    </div>