<body>
    <div class="container">
        <div>Thanks for signing, {{user.first}}!</div>
        <div id="signature">
            <img src="{{img}}">
        </div>
        <div>
            <a href="/signers">See all {{number}} signers</a>
        </div>
        <div>
            <a href="/profile/edit">Edit your profile</a>
        </div>
        <div>
            <form action="/delete" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" name="delete" value="Delete signature" />
            </form>
        </div>
    </div>